:root {
  /* https://coolors.co/palettes/trending */
  --color-light: #f7f7ff;
  --color-dark: #495867;
  --color-accent: #fe5f55;
  --color-primary: #bdd5ea;
  --color-secondary: #577399;
  --bg-primary: url(./images/bg-pixels.jpg);
  --bg-secondary: url(./images/bg-pixels.jpg);
  --bg-tertiary: url(./images/bg-pixels.jpg);
}
.bg-color-primary {
  backgound-color: var(--color-primary);
}
.bg-color-secondary {
  backgound-color: var(--color-secondary);
}
.bg-color-accent {
  backgound-color: var(--color-accent);
}
.bg-image-primary {
  backgound-image: var(--bg-primary);
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-image-secondy {
  backgound-image: var(--bg-secondary);
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-image-tertiary {
  backgound-image: var(--bg-tertiary);
  background-repeat: no-repeat;
  background-size: cover;
}
