nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: var(--color-primary);
  z-index: 2;
}

nav .fa {
  display: none;
}

ul {
  display: flex;
  background-color: var(--color-primary);
}

li {
  display: inline-flex;
}

li a {
  --height: calc(var(--nav-height) / 1.5);
  height: var(--height);
  line-height: var(--height);
  padding: calc(var(--height) / 4) 30px;
  background-color: var(--color-primary);
  color: var(--color-light);
  transition: background-color 0.2s, color 0.2s;
}

li a:hover,
li a.current {
  /* filter: brightness(110%); */
  background-color: var(--color-secondary);
  color: var(--color-dark);
}

section {
  /* should match outer height of nav */
  padding-top: var(--nav-height);
  /*
  min-height: calc(100% - var(--nav-height));
  */
  z-index: 1;
}

@media all and (max-width: 1024px) {
  nav {
    width: var(--nav-height);
    height: var(--nav-height);
  }

  nav > i {
    background-color: var(--color-primary);
    color: var(--color-light);
    transition: background-color 0.2s, color 0.2s;
  }

  nav > i:hover {
    background-color: var(--color-secondary);
    color: var(--color-dark);
  }

  nav > i.current {
    display: none;
  }

  nav > .fa-bars,
  nav > i.current + ul,
  nav > i.current + ul + i {
    display: flex;
  }

  nav > .fa-times {
    position: fixed;
    top: 0;
    right: 0;
  }

  nav > ul {
    position: fixed;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    top: -100%;
    transition: top 0.2s ease-out, opacity 0.5s;
  }

  nav > i.current + ul {
    top: 0;
    opacity: 1;
  }

  nav > ul > li {
    zoom: 2;
  }

  nav > ul > li,
  nav > ul > li > a {
    width: 100%;
  }

  nav > ul > li > a {
    width: 100%;
    padding: calc(var(--height) / 4) 0;
    text-align: center;
  }

}
